.aboutContainer {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 6rem 0 5rem 0;
}

.aboutInfo {
  width: 45%;
  padding-right: 2.5rem;
}

.aboutImage {
  content: url("../../images/personals.svg");
  width: 400px;
  height: auto;
  padding-left: 2.5rem;
}

@media (max-width: 1050px) {
  .aboutContainer h1 {
    font-size: 2.5rem;
  }
  .aboutContainer h4 {
    font-size: 1.4rem;
  }
  .aboutContainer {
    padding: 4rem 0 3rem 0;
  }
  .aboutInfo {
    padding: 1rem 0;
  }
  .aboutImage {
    padding-left: 1.5rem;
  }
}

@media (max-width: 768px) {
  .aboutImage {
    width: 400px;
    padding-left: 0;
  }
  .aboutContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }
  .aboutInfo {
    width: 80%;
    margin: 0;
    padding: 0;
  }
  .aboutContainer h1 {
    font-size: 2.1rem;
  }
  .aboutContainer h4 {
    font-weight: 300;
    font-size: 1.1rem;
  }
  .aboutImage {
    padding-top: 1rem;
  }
}

@media (max-width: 450px) {
  .aboutImage {
    width: 300px;
    padding-left: 0;
  }
  .aboutInfo {
    width: 90%;
  }
}
