.SimpleMenuLinks {
  list-style: none;
  text-decoration: none;
  padding: 1rem 1rem 1rem 0;
}

.hamburger {
  align-items: center;
  background-color: transparent;
  display: flex;
  position: fixed;
  width: 0px;
}

.hamburgerActive {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  width: 260px;
  height: 100vh;
  left: 0;
  z-index: 1;
  transition: 450ms;
}

.hamburgerActive li,
a {
  text-decoration: none;
  list-style: none;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.hamburgerActive a {
  color: #222;
}

.hamburgerActive ul {
  padding: 10px;
}

.hamburgerActive li {
  display: flex;
  align-items: center;
}

.hamburgerActive li:hover {
  background-color: #fff;
  color: var(--bg);
  transition: 100ms;
}

.hamburgerActive li:hover i,
a {
  color: var(--text);
}

.hamburgerActive li:hover a {
  color: #222;
}

.hamburger i {
  color: #222;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
}

.hamburgerActive i {
  color: #222;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
}

.hamburger i {
  color: var(--text);
  font-size: 1.5rem;
  cursor: pointer;
}
