.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formHeading h1 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 0;
}

.input input {
  border: none;
  outline: none;
  background-color: #fff;
  text-decoration: none;
  padding: 1rem;
  margin: 5px 0;
  width: 550px;
}

.message textarea {
  border: none;
  background-color: #fff;
  outline: none;
  text-decoration: none;
  height: 150px;
  padding: 1.1rem;
  margin: 5px 0;
  width: 550px;
}

.formButton button {
  margin-top: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 2px #888;
  font-size: 1.1rem;
  padding: 12px;
  border: 2px solid transparent;
  color: #dafdf8;
  background-color: #141c3a;
  font-weight: 400;
}

.formButton button:hover {
  color: #141c3a;
  background-color: #dafdf8;
  transition: 0.3s;
  border: 2px solid #141c3a;
}

@media (max-width: 768px) {
  .name,
  .email,
  .subject,
  .message {
    width: 80%;
  }
  .formWrapper {
    margin: auto;
    width: 100%;
  }
  .input input {
    padding: 1rem;
    width: 90%;
  }
  .message textarea {
    height: 120px;
    padding: 1rem;
    width: 90%;
  }
  .formButton button {
    font-size: 14px;
  }
  .formHeading h1 {
    font-size: 2.2rem;
  }
  .formHeading h4 {
    font-size: 1.1rem;
  }
}
