.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formHeading h1 {
  text-align: center;
  padding: 3rem 0;
}

.input input {
  border: none;
  outline: none;
  background-color: #fff;
  text-decoration: none;
  padding: 1rem;
  margin: 5px 0;
  width: 550px;
}

.message textarea {
  border: none;
  background-color: #fff;
  outline: none;
  text-decoration: none;
  height: 150px;
  padding: 1.1rem;
  margin: 5px 0;
  width: 550px;
}

.formButton button {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 15px 40px;
  border: 2px solid transparent;
  color: #fff;
  background-color: #222;
  font-weight: 400;
  border-radius: 8px;
}

.formButton button:hover {
  color: var(--text);
  background-color: var(--bg);
  transition: 0.3s;
  border: 2px solid var(--text);
}

@media (max-width: 768px) {
  .name,
  .email,
  .subject,
  .message {
    width: 80%;
  }
  .formWrapper {
    margin: auto;
    width: 100%;
  }
  .input input {
    padding: 1rem;
    width: 90%;
  }
  .message textarea {
    height: 120px;
    padding: 1rem;
    width: 90%;
  }
  .formButton button {
    font-size: 15px;
  }
  .formHeading h1 {
    font-size: 2.2rem;
  }
  .formHeading h4 {
    font-size: 1.1rem;
  }
}
