.footerContainer {
  background: linear-gradient(45deg, #b39c68, #a56365, #412e4c);
  color: #141c3a;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  flex-direction: column;
}

.links i {
  color: #fff;
  font-size: 1.4rem;
}

.links i {
  margin: 5px;
  padding: 10px;
  border-radius: 0;
  background-color: #141c3a;
  color: #fff;
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-radius: 4px;
}

.links {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.links i:hover {
  border: 2px solid #141c3a;
  background-color: #fff;
  color: #141c3a;
  transition: 0.1s linear;
}

.copyright p {
  color: #141c3a;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  opacity: 0.6;
}

.copyright {
  padding-top: 2rem;
}

@media (max-width: 768px) {
  .links i {
    font-size: 1.1rem;
  }
}

@media (max-width: 450px) {
  .links i {
    font-size: 1rem;
  }
}
