.footerContainer {
  background-color: #c0f5d6;
  color: #141c3a;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  flex-direction: column;
}

.links i {
  background-color: #141c3a;
  color: #dafdf8;
  font-size: 1.3rem;
  box-shadow: 0px 0px 2px #888;
  padding: 13px 14px;
  border: 2px solid transparent;
}

.links {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.links i:hover {
  border: 2px solid #141c3a;
  background-color: #dafdf8;
  color: #141c3a;
  transition: 0.1s linear;
}

.links a {
  padding: 7px;
}

.copyright p {
  color: #141c3a;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 600;
  opacity: 0.7;
  opacity: 1;
}

.copyright {
  padding-top: 2rem;
}

@media (max-width: 768px) {
  .links i {
    font-size: 1.1rem;
  }
}

@media (max-width: 450px) {
  .links i {
    font-size: 1rem;
  }
}
