@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.7rem;
  margin: 0;
}

h4 {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
}

.section-one {
  color: #fff;
  background: linear-gradient(45deg, #b39c68, #a56365, #412e4c);
  display: flex;
  padding: 0 1rem 0 1rem;
}
.section-two {
  color: #141c3a;
  display: flex;
  padding: 0 1rem 0 1rem;
}

.section-three {
  color: #141c3a;
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.section-five {
  color: #fff;
  background: #caa1a3;
  padding: 2rem 0 5rem 0;
}
